---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profil</div>
  </div>

  <div class="mb-10 text-justify">
    Mon expérience professionnelle est essentiellement tournée vers l’aéronautique, avec notamment 15 années passées sur le site Airbus de Toulouse pour la société AAA, un des plus gros sous-traitants aéronautiques Toulousain et Français.
    En parcourant les pages de ce site, vous trouverez mon parcours professionnel complet, ainsi que mon parcours scolaire.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Expériences</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Technicien méthodes " 
      subtitle="2022 - JVAeroservices, Montauban (82)"
      desc="Dans cette société, je participe à la mise en place d’une chaîne de sièges ultra légers destinés au transport régional, pour des avions de type ATR et Dassault notamment. Ces sièges sont actuellement les plus légers du marché."
    />
    <TimeLineElement
      title="Préparateur Technique programme A320"
      subtitle="2021 - 2022 Expleo, Site Airbus Toulouse"
      desc="En 2021 je rejoins le programme A320, au sein du bureau de préparation cabine. Mon role sera alors d'analyser les modifications de plans générées par le BE et leurs impacts en Production"
    />
    <TimeLineElement
      title="Technicien méthodes" 
      subtitle="2018 - 2020 JVAeroservices, Montauban (82)"
      desc="Dans cette société, je participe à la mise en place d’une chaîne de sièges ultra légers destinés au transport régional, pour des avions de type ATR et Dassault notamment. Ces sièges sont actuellement les plus légers du marché."
    />
    <TimeLineElement
      title="Coordinateur Technique programme A350"
      subtitle="2016 - 2018 AAA, Site Airbus Toulouse"
      desc="En 2014 j’intègre le programme A350 pour participer au lancement de celui-ci en tant que coordinateur technique pour le détachement du site Saint Nazaire. Ma mission sera de séquencer les interventions les équipes logistiques et qualité, tout en veillant au strict respect des échéances pour les travaux non effectués, par manque de temps, dans les usines de Saint Nazaire"
    />
    <TimeLineElement
      title="Support Technique programme A380"
      subtitle="2004 - 2016 AAA, Site Airbus Toulouse"
      desc="J’occupe un poste de préparateur sur la partie électrique du programme (installation des harnais) Mon travail consiste à faire appliquer en production les modifications de notices (appelées gammes) transmises par le bureau d’étude."
      
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Formation</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="2022 - Certification bronze en Management des Projets par le Flux"
      subtitle="AGILEA Toulouse via JVAeroservices"
      desc="Formation sur la gestion de production par le flux"
    />
    <TimeLineElement
      title="2021 - Licence Concepteur d'applications"
      subtitle="2020 - 2021 AP Formation, Toulouse"
      desc="7 mois de formation en E-Learning, Front-end HTML, CSS, JS, Back-end PHP Symfony, MySQL"
    />
    <TimeLineElement
      title="Formation Catia v5"
      subtitle="2003 - IUT Génie mécanique Paul Sabatié"
      desc="Formation de 3 mois dont un stage de 6 semaines en entreprise réalisé à Molex Villemur sur Tarn"
    />
    <TimeLineElement
      title="BTS Mécanique et Automatisme Industriel"
      subtitle="2002 - Lycée A.Bourdelle (Montauban 82)"
      desc=""
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.agilea-group.com/management-de-projet-par-le-flux" target="_blank">2022 - Certification bronze en Management des Projets par le Flux</a>
      <p>AGILEA Toulouse</p>
    </li>
    <!-- <li>
      <a href="https://certiprof.com/pages/scrum-foundation-professional-certificate-sfpc-en-sp" target="_blank"> Scrum Foundation Professional Certificate (SFPC)</a>
    </li> -->
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Compétences</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Aéronautique</li>
    <li>Part 21G/145</li>
    <li>Gestion de Projet</li>
    <li>Trello</li>
    <li>Anglais (Tech.)</li>
    <li>Espagnol (Base)</li>
    <li>Office Suite</li>
    <li>JavaScript</li>
    <li>PHP</li>
    <li>MySQL</li>
    <li>CSS</li>
    <li>HTML</li>
    <li>Node.js</li>
    <li>Astro</li>
    <li>Symfony 5</li>
    <li>Bootstrap</li>
    <li>JQuery</li>
    <li>Prestashop</li>
    <li>Git</li>
  </ul>
</BaseLayout>
