---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout title = "Sylvain Garrigues - Home">

    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Je suis...</div>
      <div class="text-5xl font-bold">Sylvain Garrigues</div>
      <div class="text-3xl py-3 font-bold">Technicien méthodes & Concepteur d'applications</div>
      <div class="py-2">
        <text class="text-lg">
          En parcourant les pages de ce site, vous découvrirez mon parcours professionnel complet.
          </text
        >
      </div>
      <div class="mt-8">
        <a class="btn" href="https://www.linkedin.com/in/sylvain-garrigues/" target="_blank"> Linkedin</a>
        <a href="https://github.com/Sylvain82" target="_blank" class="btn btn-outline ml-5">Github</a>
      </div>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-2">{"Aéronautique"}</div>
    </div>

    <HorizontalCard
      title="Technicien méthodes, Montauban (82)"
      img="/expliseat.webp"
      desc="En 2018, j'intègre les équipes de JVA, en tant que Technicien méthodes, ou je conçois, notamment, l'ensemble des gammes de travail pour les différents chantiers du site (Airbus, Dassault, Immarsat, etc...)" 
      badge="JVAeroservices"
    />
    
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Préparateur Technique programme A320, Site Airbus Toulouse"
    img="/A320cargo.jpg"
    desc="En 2021 j’intègre le programme A320 par le poste de Préparateur Cabine A320. Je m'occupe alors d'appliquer les modifications de définition donnée par le Bureau d'Etudes sur la Partie commerciale des soutes (planchers, rollertrack, filets, etc...)"
    badge="EXPLEO"
    
    />

    <div class="divider my-0"></div>
    <HorizontalCard
    title="Coordinateur Technique programme A350, Site Airbus Toulouse"
    img="/A350.jpg"
    desc="En 2014 j’intègre le programme A350 pour participer au lancement de celui-ci en tant que coordinateur technique pour le détachement du site Saint Nazaire. Mon rôle sera alors de veiller à la bonne application des travaux restants, en coordonnant les differents services du détachement."
    badge="AAA"

  />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Support Technique REC (Rework Electrical Center) programme A380, Site Airbus Toulouse"
    img="/a380 face.jpg"
    desc="En 2004 j’intègre le site Jean Luc Lagardère de Blagnac, pour prendre part au lancement du programme A380. Je traite les Non Conformités et assiste la production au sein du service de Rattrapages Electriques qui à la responsabilité de l'ensemble des harnais de cet avion"
    badge="AAA"
    
  />

    <br>

  <div>
    <div class="text-3xl w-full font-bold mb-2">{"Informatique"}</div>
  </div>

  <HorizontalCard
    title="Developpeur Web, Shopephemere.com"
    img="/web.jpg"
    desc="En 2021, Dans le cadre de ma Licence de concepteur d'applications, j’intègre la société Shopephemere, en tant que Developpeur Web. Je participe au developpement de plusieurs sites Web orientés vers le e-commerce. J'utilise les langages Front et back-end ainsi que le CMS Prestashop"
    badge="Dev"
  />
  <div class="divider my-0"></div>
  
</BaseLayout>
