---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout title = "Sylvain Garrigues - Portfolio">

    <div>
      <div class="text-3xl w-full font-bold mb-2">{"Projets informatiques"}</div>
    </div>

     <div class="divider my-0"></div>
        <HorizontalCard
          title="DataFoot"
          img="/ballon.jpg"
          desc="Site de statistiques sur le football"
          badge="API"
          url="https://datafoot.herokuapp.com/"
        />

    <div class="divider my-0"></div>
    <HorizontalCard
      title="Parallax travel"
      img="/travel.jpg"
      desc="Mes voyages à travers cette présentation créée sous la forme d'un parallax."
      badge="Parallax"
      url="/para"
    />

    <div class="divider my-0"></div>
    <HorizontalCard
    title="Lecteur Video"
    img="/play.png"
    desc="Lecteur vidéo créé en JS"
    badge="Javascript"
    url="/lecteur" />

    <div class="divider my-0"></div>
    <HorizontalCard
    title="Covid Wars"
    img="/star.jpg"
    desc="Star Wars...version Covid"
    badge="Javascript"
    url="https://sylvain-g.pagesperso-orange.fr/Star%20Wars/index.html" />

</BaseLayout>
