---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Sylvain Garrigues
  </div>
  <div class="inline opacity-75">
    <!-- Thanks for using this template. Please keep this line to support my work :) -->
    <a href="" target="_blank" class="font-bold"></a> developed by
    <a href="https://github.com/Sylvain82" target="_blank" class="font-bold">Sylvain Garrigues ⚡️</a>
  </div>
</footer>
<style>

</style>
